:root {
	--container-md: 1290px;
	--title-font: 'Righteous', cursive;
	--text-8xl: 44px;
	--text-6xl: 28px;

	--primary-text-color: #1e4a34;
	--secondary-text-color: #696969;
	--tertiary-color: #D9D9D9;

	--transition-short: all 250ms ease;
	--transition-default: all 350ms ease-in;
	--ransition-long: all 450ms ease;
}

.menu-dish {
	padding-right: 1vw;
	padding-left: 2vw;
}

@media (max-width: var(--container-md)) {
	.menu-dish {
		padding-right: 0vw;
		padding-left: 2vw;
	}
}
.container-salad {
	display: flex;
	flex-direction: column;
	margin-top: 8rem;
	margin-bottom: 5rem;
	margin-left: 8rem;
	margin-right: 8rem;
}

.head-section {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding-right: 8px;
}

@media (max-width: var(--container-md)) {
	.head-section {
		margin-bottom: 2rem;
		padding-right: 20px;
	}
}

.head-section h2 {
	color: var(--primary-text-color);
	font-family: "Markazi Text";
	font-weight: normal;
	margin-bottom: 1rem;
}

.head-section h2:hover {
	color: var(--secondary-text-color);
}

@media (max-width: var(--container-md)) {
	.head-section h2 {
		font-size: var(--text-6xl);
		margin-bottom: 0;
	}
}